* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}


.navigasi {
    background-color: #2b6eff;
    width: 100%;
    height: 70%;
    color: black;
}


.logo {
float: left;
padding-top: 20px;
padding-bottom: 10px;
padding-left: 30px;
}


.menu {
    margin-left: 800px;
    padding-top: 30px;
}


.menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}


.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li a:hover {
    color: blue;
    font-style: italic;
}


.banner {
    background-color: #003fc7;
    height: 500px;
    text-align: center;
    color: black;
}

.banner img {
    border-radius: 100px;
    height: 175px;
    border: 6px solid white;


}

.banner h1 {

}

