@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-white font-sans;
  margin: 0;
  overflow-x: hidden;
}

/* Scrollbar styling untuk vibe futuristic */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0F19;
}
::-webkit-scrollbar-thumb {
  background: #8B5CF6;
  border-radius: 10px;
}